<div class="details-wrapper">
  <img
    class="background"
    src="../../../assets/images_establishments/{{establishment.id}}_1.jpg">
  <div class="header-wrapper">
    <div class="navbar">
      <div
        class="logo-wrapper"
        [routerLink]="['/']">
        <img
          src="../../../assets/icons/icons8-длинная-стрелка-влево-50.png"
          alt="logo"
          class="logo">
        <div class="text-logo">
          <div
            [routerLink]="['/']"
            class="">Головна
          </div>
        </div>
      </div>
      <div class="nav-wrapper">
        <a
          class="nav-text"
          href="tel:{{establishment.phones[0]}}">Бронювання</a>
        <button class="nav-button">Додати заклад</button>
      </div>
    </div>
  </div>
  <div class="heading-wrapper">
    <div class="heading">{{establishment?.name}}</div>
    <div class="subheading">{{establishment?.types?.join(', ')}}</div>
  </div>
</div>

<div
  *ngIf="!!establishment"
  class="">
  <div class="wrapper">
    <div class="section-left">
      <div class="description">
        <div class="information-container">
          <div class="text"><span>Тип закладу: </span>{{establishment?.types?.join(', ')}}</div>
          <div class="text"><span>Страви: </span>{{establishment?.dishes?.join(', ')}}</div>
          <div class="text"><span>Кухня: </span>{{establishment?.cuisines?.join(', ')}}</div>
          <div class="text"><span>Послуги: </span>{{establishment?.services?.join(', ')}}</div>
        </div>
        <span class="name-restaurant">{{establishment?.name}} - </span>
        {{establishment?.information}}
      </div>
      <div class="title-gallery">Фотографії</div>
      <div class="gallery">
        <div class="image-left-wrapper">
          <img
            class="image-top"
            src="../../../assets/images_establishments/{{establishment.id}}_2.jpg">
        </div>
        <div class="image-right-wrapper">
          <img
            class="image"
            src="../../../assets/images_establishments/{{establishment.id}}_3.jpg">
          <img
            class="image"
            src="../../../assets/images_establishments/{{establishment.id}}_4.jpg">
          <img
            class="image"
            src="../../../assets/images_establishments/{{establishment.id}}_5.jpg">
        </div>
      </div>
    </div>
    <div class="section-right">

      <div
        *ngIf="establishment?.address?.iframe"
        class="maps">
        <div class="inform-title">Карта:</div>
        <iframe
          [src]="establishment?.address?.iframe | safe"
          width="400"
          height="250"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="phone-wrapper">
        <div class="inform-title">
          Контакти:
        </div>
        <div class="info-container flex-column align-items-start">
          <div
            *ngFor="let phone of establishment?.phones">
            <img
              class="logo-phone"
              src="../../../assets/icons/icons8-телефон-35.png">
            <a
              class="decorated-link"
              href="tel:{{phone}}">{{phone}}
            </a>
          </div>
        </div>
      </div>
      <div
        *ngIf="establishment?.address?.geo"
        class="information">
        <div class="inform-title">
          Геолокація:
        </div>
        <div class="info-container">
          <img
            class="logo-address"
            src="../../../assets/icons/icons8-геозона-50.png">
          <a
            class="decorated-link"
            target="_blank"
            [href]="establishment?.address?.geo">{{establishment?.address?.geoTitle}}</a>
        </div>
      </div>
      <div class="social-media">
        <div class="inform-title">Соціальні мережі:</div>
        <div>
          <a
            target="_blank"
            [href]="establishment?.instagram">
            <img
              class="logo-social-media"
              src="../../../assets/icons/icons8-instagram-96.png"
              alt="social network"/>
          </a>

          <a
            target="_blank"
            [href]="establishment?.facebook">
            <img
              class="logo-social-media"
              src="../../../assets/icons/icons8-facebook-96.png"
              alt="social network"/>
          </a>
        </div>
      </div>
      <div class="inform-title schedule-title">
        Графік роботи:
      </div>
      <div class="schedule-wrapper">
        <div class="schedule">
          <span class="day-of-the-week">Пн: </span>
          <div
            *ngIf="establishment?.schedule?.monday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.monday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.monday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
        <div class="schedule">
          <span class="day-of-the-week">Вт: </span>
          <div
            *ngIf="establishment?.schedule?.tuesday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.tuesday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.tuesday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
        <div class="schedule">
          <span class="day-of-the-week">Ср: </span>
          <div
            *ngIf="establishment?.schedule?.wednesday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.wednesday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.wednesday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
        <div class="schedule">
          <span class="day-of-the-week">Чт: </span>
          <div
            *ngIf="establishment?.schedule?.thursday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.thursday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.thursday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
        <div class="schedule">
          <span class="day-of-the-week">Пт: </span>
          <div
            *ngIf="establishment?.schedule?.friday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.friday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.friday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
        <div class="schedule">
          <span class="day-of-the-week">Сб: </span>
          <div
            *ngIf="establishment?.schedule?.saturday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.saturday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.saturday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
        <div class="schedule">
          <span class="day-of-the-week">Нд: </span>
          <div
            *ngIf="establishment?.schedule?.sunday"
            class="time-wrapper">
            {{ '2022-11-24T' + establishment.schedule?.sunday?.startTime | date : 'HH:mm' }}
            - {{ '2022-11-24T' + establishment.schedule?.sunday?.endTime | date : 'HH:mm' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
