<header>
  <div class="navbar">
    <div
      class="logo-wrapper"
      [routerLink]="['/']">
      <img
        src="../../../../../assets/icons/icons8-заказ-доставлен-96.png"
        alt="logo"
        class="logo">
      <div class="text-logo">
        <div class="">Catering</div>
        <div class="">Establishments</div>
      </div>
    </div>
    <div class="wrapper">
      <a class="nav-text">Поруч зі мною</a>
      <a class="nav-text">Зараз відкрито</a>
      <button class="nav-button" (click)="addCateringEstablishment()">Додати заклад</button>
    </div>
  </div>
</header>
