<header>
  <div class="navbar">
    <div
      class="logo-wrapper"
      [routerLink]="['/']">
      <img
        src="../../../../../assets/icons/icons8-заказ-доставлен-96.png"
        alt="logo"
        class="logo">
      <div class="text-logo">
        <div class="">Catering</div>
        <div class="">Establishments</div>
      </div>
    </div>
    <div class="wrapper">
      <button
        class="nav-button"
        [class.text-decoration-underline]="mainService.isOpenNowChecked"
        (click)="onOpenNowEmitted()">
        Зараз відкрито
      </button>

      <button
        class="nav-button"
        (click)="addCateringEstablishment()">
        Додати заклад
      </button>
    </div>
  </div>
</header>
