<h1 mat-dialog-title>Додавання закладу</h1>
<div mat-dialog-content>
  <form [formGroup]="newEstablishmentForm" class="w-100 m-auto">
    <mat-form-field class="w-100">
      <input matInput formControlName="name" placeholder="Назва закладу" class="w-100" type="text">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput formControlName="information" placeholder="Інформація про заклад" class="w-100">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput formControlName="phone" placeholder="Номер телефону закладу" class="w-100" type="tel">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput formControlName="socialmedia" placeholder="Соціальні мережі та сайт" class="w-100" type="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput formControlName="schedule" placeholder="Графік роботи" class="w-100" type="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput formControlName="map" placeholder="Геолокація" class="w-100" type="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput formControlName="address" placeholder="Адреса закладу" class="w-100" type="">
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select formControlName="type" placeholder="Тип закладу харчування" class="w-100">
        <mat-option *ngFor="let type of [{id: 1, name: 'type1'}]"
                    [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select formControlName="cuisine" placeholder="Перелік видів кухні" class="w-100">
        <mat-option *ngFor="let cuisine of [{id: 1, name: 'cuisines1'}]"
                    [value]="cuisine.id">
          {{ cuisine.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select formControlName="service" placeholder="Послуги" class="w-100">
        <mat-option *ngFor="let service of [{id: 1, name: 'service1'}]"
                    [value]="service.id">
          {{ service.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="false">
    Відмінити
  </button>

  <button mat-button color="accent"
          [mat-dialog-close]="newEstablishmentForm.getRawValue()"
          [disabled]="newEstablishmentForm.invalid">
    Додати
  </button>
</div>
